.data-container{
  height: auto;
  position: relative;
  bottom: 8em;
  background-image: url("../assets/images/color_lines2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (min-width: 1000px){
  .data-container{
    bottom: 12em !important;
  }
}

.data-section1{
  //background-image: url("../assets/images/color lines2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10em;
}

.row{
  margin: 0px 3em 0px 3em;
}

._text{
  font-weight: 700;
  text-decoration: underline;
}

.content-box-container .col-md-4{
  margin-bottom: 15px;
}

.cdsLine{
  width: 40%;
  margin: 0;
  border-top: 5px solid white;
  margin-bottom: 1em;
}

.cdsSection1{
  margin-bottom: 1.5em;
}

.titleContainer{
  /*display: table;*/
  height: 100%;
}

.titleContainer h1{
  /*display: table-cell;
  vertical-align: middle;*/
  letter-spacing: 5px;
  font-size: 2rem;
  color: white;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2{
  text-align: center;
  margin-bottom: 2em;
}

.content-box-container{
  text-align: -webkit-center;
}

.content-box{
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 10px 10px grey;
  padding: 5px 15px;
  height: 100%;
}

.server{
  display: inline-flex;
  position: relative;
  left: 0.2em;
}

.fa-server{
  z-index: 1;
}

.lightsContainer{
  display: inline-grid;
  position: relative;
  right: 16px;
  z-index: 0;
}

.lightsContainer div{
  display: inline-flex;
  position: relative;
}

#lights1{
  top: 2px;
}

.redLight{
position: relative;
width: 6px;
height: 6px;
margin: 0px;
background-color: red;
border-radius: 50px;
top: 4px;
right: 1px;
}

.greenLight{
  position: relative;
  width: 6px;
  height: 6px;
  margin: 0px;
  background-color: rgb(57, 233, 57);
  border-radius: 50px;
  top: 4px;
}

.rotation{
  animation: rotation 6s infinite linear;
}

.rotationRev{
  animation: rotationRev 5s infinite linear;
  position: relative;
  bottom: 16px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationRev {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.desktop{
  display: inline-flex;
  position: relative;
  left: 1em;
}

.numberContainer{
  position: relative;
  right: 2.8em;
}

#number{
  margin: 0px !important;
  padding-top: 5.5px;
}

.data-section2{
  position: relative;
}

.cdsSection3{
  padding-top: 3em;
}

.cdsSection4{
  padding-top: 1.5em;
  text-align: center;
  padding-bottom: 3em;
}

.cdsSection4 h3{
  color: black;
}

.cdsSection4 h4{
  color: white;
}

.cdsSection4 i{
  padding: 20px 0px;
}

.server, .wheels, .desktop{
  padding: 20px 0px;
}

.content-box p:first-child{
  margin: 0px;
  font-weight: 700;
}

.cdsSection4 p{
  font-weight: 400;
  color: white;
}

/*.overlay{
  background-color: rgba(255, 255, 255, 0.247);
  padding-bottom: 5em;
}*/

.data-section2 .cdsLine{
  border-color: white !important;
}

.data-section2 h1{
  color: white !important;
}