#bg-header{
background-image: url("../assets/header_building.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

/*.overlay{
  height: 100%;
  display: grid;
  width: 100%;
  background-color: rgba(0,0,0,.3);
}*/

.container{
  position: relative;
  text-align: center;
}

.smallTitle{
  font-size: 1.75rem;
  color: black;
}

.bigTitle{
  font-size: 4rem;
  color: black;
}

.search-job{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 80%;
}

@media screen and (max-width: 768px) {
  .smallTitle{
    font-size: 1.5rem;
  }

  .bigTitle{
    font-size: 3rem;
  }
}

@media screen and (max-width: 332px){
  .bigTitle{
    font-size: 2.8rem;
  }
}